* {
	box-sizing: border-box;
}

::selection {
	color: $off_white;
	background: rgba($color_primary, 0.85);
}

body {
	background: $dark_grey;
	min-height: 100vh;

	&.menu-active {
		overflow: hidden;
		// position: fixed;
	}

	&.admin-bar {
		min-height: calc(100vh - 32px);
	}
}

img {
	display: block;
}

.hidden {
	display: none;
}

strong {
	font-weight: 700;
}

.site {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	body.admin-bar & {
		min-height: calc(100vh - 32px);
	}
}

.section-content {
	width: 100%;
	max-width: $max_width;
	margin: 0 auto;
}

// IE
.image-object-fit {
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
	
	img {
		opacity: 0;
	}
}