.career-single {
    position: relative;
    padding: 140px $grid-gap 240px;

    .background-image {
        // filter: grayscale(100%) blur(10px);
        filter: blur(10px);
        mix-blend-mode: overlay;
        // opacity: 0.25;
        position: fixed;
    }

    .role {
        max-width: 960px;
        margin: 0 auto;
        background-color: $dark-grey;
        filter: drop-shadow(0 0 20px rgba($black, 0.5));
    }

    .role-header {
        background-color: $black;
        padding: 60px clamp(55px, 10vw, 110px);
    }

    .title {
        font-size: clamp(1.875rem, 1.6875rem + 0.75vw, 2.25rem);
    }

    .quick-details {
        text-transform: uppercase;
        // font-size: 24px;
        font-size: clamp(1.125rem, 0.9375rem + 0.75vw, 1.5rem);
        line-height: 0.8em;
        font-weight: 700;

        dl {
            display: flex;
            gap: $grid-gap;
            margin: 0;
        }

        dt {
            display: none;
        }

        dd {
            margin: 0;
            line-height: 0.8em;
            position: relative;
            padding-left: $grid-gap;

            &:first-of-type {
                padding-left: 0;
            }

            &:not(:first-of-type):after {
                content: '';
                display: inline-block;
                width: 1px;
                height: 1em;
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                background-color: $light-grey;
            }
        }
    }

    .job-description {
        padding: 60px clamp(10px, 5vw, 80px) 0;
        position: relative;
        font-size: 20px;

        p {
            color: rgba($off_white, 0.6);
    
            b {
                color: $off_white;
                font-weight: 700;
            }
        }

        ul, ol {
            color: $off_white;
            font-weight: 700;
            padding: 0 0 0 2em;
            margin: 0 0 2em 0;
        }

        li {
            list-style-type: square;

            &::marker {
                color: $color_primary;
                font-size: 140%;
            }
        }

        a:not(.fv-button) {
            color: $color_primary;
            text-decoration: underline;
            font-weight: 700;
            transition: all 0.3s ease;

            &:hover {
                color: $off_white;
            }
        }
    
        &.form-overlay {
            .job-contents,
            .apply {
                display: none;
            }
            .application-form {
                display: flex;
            }
        }
    }

    .apply {
        display: flex;
        justify-content: center;
        transform: translateY(50%);
    }

    .application-form {
        display: none;
        background-color: $dark-grey;
        // position: absolute;
        // top: 0;
        // left: 0;
        // width: 100%;
        // height: 100%;
        // z-index: 2;
        // padding: 60px clamp(55px, 10vw, 110px);
        // display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 60px;

        ul, ol {
            padding: 0;
            margin: 0;
        }

        .forminator-col {
            @include breakpoint($mediumlarge) {
                width: calc(50% - calc($grid-gap * 2));
                flex-basis: 0 !important;
                margin-bottom: 0 !important;
            }
            
        }

        .forminator-no-margin {
            gap: $grid-gap;
        }

        .forminator-col-md-6{
            flex-basis: 0 !important;

            @include breakpoint($mediumlarge) {
                margin-bottom: 0 !important;
            }
        }
    }
}