.site-footer {
    background: $dark_grey;
    color: $off_white;

    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    @include breakpoint($medium) {
        @include font-size(0.75);
    }

    p {
        margin: 0;
    }

    a {
        color: $color_primary;
        transition: color 0.5s;

        &:hover {
            color: $color_primary;
        }
    }
}