.game-single {
    background-color: $black;

    .hero-slide {
        z-index: 1;

        .slide-content {
            height: 80%;
        }

        .background-image {
            mask-image: none;
        }
    }
}

.content-background-image {
    z-index: 0;
    pointer-events: none;
    
    img {
        filter: saturate(0);
        background-blend-mode: lighten;
        opacity: 0.1;
        mask-image: linear-gradient(to bottom, black 0, black 33%, transparent);
        height: unset;
        aspect-ratio: 4/3;
    }
}

.game-details {
    position: relative;
    padding: 0 clamp(20px, 5vw, 40px);

    @include breakpoint($max_width_padded) {
        padding: 0;
    }
}

.game-intro {
    position: relative;
    z-index: 2;
    margin-bottom: clamp(30px, 20vh, 60px);

    .section-content {
        max-width: $max_width;
        margin: 0 auto 0;
        // padding: 0 calc($grid-gap / 2);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        background-color: $black;

        @include breakpoint($mediumlarge) {
            flex-direction: row;

            > * {
                width: 50%;
            }
        }
    }

    .intro-copy {
        // padding: 85px 74px;
        padding: clamp(15px, 5vw, 85px) clamp(10px, 5vw, 74px);
        display: flex;
        flex-direction: column;
        justify-content: center;

        p {
            &:last-of-type {
                margin-bottom: 0;
            }
        }
    }

    .intro-media {
        position: relative;
        aspect-ratio: 16/9;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.text-and-image {
    margin: 0 auto calc($grid-gap * 2);

    @include breakpoint($mediumlarge) {
        display: flex;
        align-items: center;
        max-width: $max_width;
    }

    .text {
        margin-bottom: clamp(10px, 20vh, 20px);
    }

    @include breakpoint($mediumlarge) {
        margin-bottom: calc($grid-gap * 3);

        .text {
            max-width: calc(100/3 * 1%);
            padding-right: clamp(30px, 5vw, 74px);
        }
        .image {
            max-width: calc(100/3 * 2%);
        }
    }

    &:nth-of-type(odd) {
        
        @include breakpoint($large) {
            flex-direction: row-reverse;

            .text {
                padding-right: 0;
                padding-left: clamp(30px, 5vw, 74px);
            }
        }
    }
}

.game-gallery {
    overflow: hidden;
    @include explode-width();
}

.slide-info {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    padding: 25px;
    background-color: $black;
    text-transform: uppercase;
    color: $light_grey;
    font-size: clamp(1.5rem, 1rem + 1.3333vw, 2.25rem); // 24px - 36px
    font-weight: 700;
    line-height: 0.8;
    text-align: center;

    span {
        color: $off_white;
        display: block;
        font-size: clamp(0.875rem, 0.7083rem + 0.4444vw, 1.125rem); // 14px - 18px
        margin-bottom: 8px;
    }

    em {
        color: $color_primary;
        font-style: normal;
    }

    .slide-controls {
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-top: 10px;

        .gallery-prev,
        .gallery-next {
            position: relative;
            background-color: $mid_grey;
            cursor: pointer;
            width: 54px;
            height: 0;
            padding-top: 54px;
            overflow: hidden;

            &:after {
                content: '';
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                height: 100%;
                width: 100%;
                background: url(assets/images/arrow-down.svg) no-repeat center;
                background-size: 18px auto;
                transform: rotate(90deg);
                filter: brightness(0) saturate(100%) invert(40%) sepia(0%) saturate(53%) hue-rotate(229deg) brightness(97%) contrast(85%);
            }

            &:hover {

                &:after {
                    filter: brightness(0) saturate(100%) invert(70%) sepia(79%) saturate(4204%) hue-rotate(341deg) brightness(110%) contrast(98%);
                }
            }
        }

        .gallery-next {
            &:after {
                transform: rotate(-90deg);
            }
        }
    }
}

// related news
.game-related-news {
    padding: clamp(40px, 20vh, 100px) 0;

    .section-content {
        padding: 0 calc($grid-gap / 2);
    }

    .subtitle {
        margin-bottom: clamp(15px, 5vw, 25px);
    }
}