.main-navigation {
	background-color: rgba(#252D31, 0.25);
    text-transform: uppercase;
    font-weight: 700;

    .logo {
        height: 113px;
        display: flex;
        transition: all 0.25s ease-in-out;
        background-color: rgba($dark_grey, 0.66);
        color: $color_secondary;
        position: relative;

        &:hover {
            color: $color_primary;

            &:after {
                width: 100%;
            }
        }
        
        @include breakpoint($mediumlarge) {
            margin-right: auto;
        }

        .logo-image {
            background-color: $dark_grey;
            // border-bottom: 4px solid $color_primary;
        }

        &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            bottom: 0;
            height: 4px;
            width: 113px;
            background-color: $color_primary;
            transition: all 0.25s ease-in-out;
        }
    }

    .logo-word-marquee {
        font-family: 'RetroGaming';
        text-transform: uppercase;
        font-size: 32px;
        line-height: 0.9;
        font-weight: 400;
        letter-spacing: -0.05em;
        -webkit-font-smoothing: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px 28px;
    }

    .menu {
        display: none;
        // gap: 20px;
        height: 100%;
		list-style: none;
		margin: 0;
		padding-left: 0;

        @include breakpoint($mediumlarge) {
            display: flex;
            margin-right: 20px;
        }

        a {
            color: $color_secondary;
            transition: color 0.25s ease-in-out;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            padding: 0 10px;

            @include breakpoint($mediumlarge) {
                padding: 0 18px;
            }

            &:visited,
            &:active {
                color: $color_secondary;
            }

            &:hover {
                color: $color_primary;
            }
        }

        li {
            &.current-menu-item {
                a {
                    color: $dark_grey;
                    background-color: $color_secondary;

                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        left: 50%;
                        bottom: 0;
                        transform: translate(-50%, 100%);
                        height: 16px;
                        width: 24px;
                        background-color: $color_secondary;
                        clip-path: $pixel_arrow;
                    }
                }
            }
        }
    }
}