.intro {
    // overflow: hidden;
    
    .section-content {
        display: flex;
        align-items: stretch;
        // padding: 190px 0 200px;
        padding: clamp(50px, 10vw, 190px) 0;
        max-width: unset;
    }

    .intro-content {
        width: 50vw;
        padding: 0 56px;
        // font-size: 22px;
        font-size: clamp(1.125rem, 0.9583rem + 0.4444vw, 1.375rem);
        line-height: 32px;
        height: 100%;
        // outline: 1px dotted green;
        // background-color: rgba(green, 0.2);
        display: flex;
        justify-content: flex-end;
    }

    .intro-text {
        max-width: calc($max_width / 2);
        width: 100%;
        // outline: 1px dotted red;
    }

    .intro-subtitle,
    .intro-title {
        font-family: 'RetroGaming';
        line-height: 0.825;
        text-transform: uppercase;
        -webkit-font-smoothing: none;
        margin-bottom: 25px;
    }

    .intro-subtitle {
        color: $color_primary;
        padding-left: 10px;
    }

    .intro-title {
        // font-size: 176px;
        font-size: clamp(6.25rem, 3.0833rem + 8.4444vw, 11rem); // 100px - 176px
        font-weight: 400;
        letter-spacing: -0.05em;
    }

    .copy {
        opacity: 0.6;
    }

    .intro-image {
        width: 50vw;
        padding: 0 56px;
        display: block;
        position: relative;
        // outline: 1px dotted #faf;
    }

    .fox-in-a-box {
        position: absolute;
        // top: -502px;
        // top: clamp(-100px, -50vw, -502px);
        // height: calc(100% + 600px);
        top: -27vw;
        left: 0;
        right: 0;
        z-index: 10;
        display: flex;
        align-items: flex-start;
        padding-left: 20px;
        aspect-ratio: 884 / 1228;
        // outline: 1px dotted yellow;

        // white spotlight
        &:after {
            content: '';
            display: block;
            position: absolute;
            bottom: 0;
            left: -10vw;
            // height: 50%;
            // width: 180%;
            width: 80vw;
            aspect-ratio: 7 / 3;
            z-index: -1;
            background-image: radial-gradient(rgba($off_white, 0.25) 0, rgba($dark_grey, 0) 70%);
            pointer-events: none;
        }

        img {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            max-width: 884px;
            // height: 100%;
            height: auto;
            aspect-ratio: 884 / 1228;
            object-fit: contain;
            object-position: right center;
            transform: translate(1000px,-200px);
            
            // max-width: 978px;
            // width: calc(100vw / 3 * 2);
            // background-color: rgba(#faf, 0.2);
        }
    }
}

.news-scroll {
    background-color: $black;

    .news-block {
        @include breakpoint($mediumlarge) {
            display: flex;
            align-items: stretch;
            min-height: 50vw;

            > * {
                flex: 0 1 50%;
            }
        }
    }

    .featured-thumbnail {
        position: relative;

        img {

            @include breakpoint($mediumlarge) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            
        }
    }
    
    .post-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 4vw;

        @include breakpoint($mediumlarge) {
            max-width: 562px;
            margin: 0 auto;
        }

        .subtitle {
            font-size: 1.5rem;
            font-weight: 700;
            text-transform: uppercase;
            color: $color_primary;
            margin-bottom: 0.25rem;
        }

        .post-title {
            margin-bottom: 0.15rem;
            line-height: 1;
            
        }
    }
}