.newsletter {
    background-color: $dark_grey;
    color: $off_white;
    padding: 60px 0 90px;

    @include breakpoint($mediumlarge) {
        padding: 90px 0 120px;
    }

    .section-content {
        gap: $grid-gap;
        padding: 0 calc($grid-gap /2);
        // max-width: unset;

        @include breakpoint($mediumlarge) {
            display: flex;
            // align-items: stretch;
            align-items: center;
            justify-content: flex-end;
        }
    
        .headlines,
        .copy {
            @include breakpoint($mediumlarge) {
                width: calc(100/5 * 2%);
            }
        }
        
    }

    .subtitle {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $color_primary;
        margin-bottom: 0.25rem;
    }

    .title {
        line-height: 0.8;
        text-transform: uppercase;
        font-size: clamp(4rem, 2.75rem + 3.3333vw, 5.875rem);
        margin-bottom: 0;
    }
}

.newsletter {
    
    strong {
        font-weight: 700;
        color: $off_white;
        text-transform: uppercase;
    }
    
    p {
        margin-bottom: 0.5em;
        font-size: clamp(1.125rem, 0.875rem + 0.6667vw, 1.5rem);
    }

    .intro-copy {
        // opacity: 0.6;
        color: rgba($off_white, 0.6);
    }
}