.newsletter {
    background-color: $dark_grey;
    color: $off_white;
    padding: 60px 0 90px;

    @include breakpoint($mediumlarge) {
        padding: 90px 0 120px;
    }

    .section-content {
        gap: $grid-gap;
        padding: 0 calc($grid-gap * 2);
        max-width: 660px;
        position: relative;
        // @include outline;

        @include breakpoint($mediumlarge) {
            padding: 0 calc($grid-gap /2);
            max-width: $max-width;
            display: flex;
            gap: calc($grid-gap * 2);
            // align-items: stretch;
            align-items: center;
            justify-content: flex-end;
        }

        @include breakpoint($large) {
            gap: calc($grid-gap * 3);
        }
    
        // .headlines,
        .copy {
            @include breakpoint($mediumlarge) {
                width: calc(100/5 * 2%);
            }
        }
        
    }

    .foxy-news {
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            top: 50%;
            left: 10vw;
            // transform: translate(-42%, -30%);
            transform: translate(-26%, -10%);
            width: 126vw;
            max-width: 500px;
            aspect-ratio: 7 / 3;
            background-image: radial-gradient(rgba($off_white, 0.25) 0, rgba($dark_grey, 0) 70%);
            pointer-events: none;

            @include breakpoint($medium) {
                width: 80vw;
            }

            @include breakpoint($mediumlarge) {
                left: 0;
                max-width: unset;
                transform: translate(-42%, -30%);
            }
            
        }
    }

    .newsletter-foxy {
        transform: scaleX(-1);
        position: relative;
        left: -500px;
        top: -200px;
    }

    .subtitle {
        font-size: 1.5rem;
        font-weight: 700;
        text-transform: uppercase;
        color: $color_primary;
        margin-bottom: 0.25rem;
    }

    .title {
        line-height: 0.8;
        text-transform: uppercase;
        // font-size: clamp(4rem, 2.75rem + 3.3333vw, 5.875rem); // 44px - 94px
        font-size: clamp(2rem, -0.5833rem + 8.6111vw, 5.875rem);
        margin-bottom: 0;
    }
}

.newsletter {
    
    strong {
        font-weight: 700;
        color: $off_white;
        text-transform: uppercase;
    }
    
    p {
        margin-bottom: 0.5em;
        font-size: clamp(1.125rem, 0.875rem + 0.6667vw, 1.5rem);
    }

    .intro-copy {
        // opacity: 0.6;
        color: rgba($off_white, 0.6);
    }

    .forminator-ui.forminator-custom-form {
        gap: 0;
    }

    .forminator-label {
        display: none !important;
    }

    .forminator-row-last {
        width: unset !important;
        padding-top: 20px;
        text-align: right;

        @include breakpoint($large) {
            padding-top: 0;
            position: absolute;
            top: 0;
            right: 0;
        }
    }

    .forminator-button {
        min-width: unset !important;
    }
}