.newsletter {
    background-color: $dark_grey;
    color: $off_white;
    padding: 60px 0 90px;

    @include breakpoint($mediumlarge) {
        padding: 90px 0 120px;
    }

    .section-content {
        display: flex;
        gap: calc($grid-gap * 4);
        align-items: stretch;
        padding: 0 calc($grid-gap /2);
        max-width: unset;

        > * {
            flex: 0 1 100%;

            @include breakpoint($mediumlarge) {
                flex: 0 1 50%;
            }
        }
    }
}