body.search-results {
  .background-image {
    filter: grayscale(100%);
    opacity: 0.2;
    mix-blend-mode: multiply;
  }

  .site-main {
    padding-bottom: 80px;
  }

  .page-header {
    padding: 120px calc($grid-gap) 0;
  }

  .page-title {
    // text-transform: uppercase;
    border-bottom: 1px solid rgba($off_white, 0.1);

    span {
      color: $color-primary;
    }
  }

  .search-form {
    padding: 0 $grid-gap calc($grid-gap * 2);
    display: flex;
    justify-content: flex-end;
  }
}