button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background: $color_primary;
	color: $off_white;
	font-size: 22px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 0.9;
	min-height: 54px;
	min-width: 224px;
	padding: 20px 30px 20px 20px;
	border: 0;

	display: inline-flex;
	// justify-content: center;
	align-items: center;

	transition: all .5s;
	filter: drop-shadow(0 0 5px rgba($black, 0.5));

	&:hover {
		color: $off_white;
	}

	&:active,
	&:focus,
	&:visited {
		color: $off_white;
		outline: none;
	}
}

.fv-button {
	@extend .button;
	background-color: transparent;
	position: relative;
	transition: all .15s ease-in-out;
	// margin: 0 10px 10px 0;
	border-image-source: url("assets/images/button-border.svg");
	border-image-width: 8px 16px 15px 28px;
	border-image-slice: 8 16 15 28;
	// border-image-width: 16px 30px 29px 54px;
	border-image-outset: 0px 0px 0px 0px;
	border-image-repeat: stretch stretch;

	&:after {
		content: '';
		display: block;
		position: absolute;
		z-index: -1;
		top: 6px;
		right: 14px;
		bottom: 13px;
		left: 26px;
		background-color: $color_primary;
		transition: all .15s ease-in-out;
	}

	// &:before,
	// &:after {
	// 	content: '';
	// 	display: block;
	// 	position: absolute;
	// 	background-color: darken($color_primary, 10%);
	// 	transition: all .15s ease-in-out;
	// }

	// &:before {
	// 	top: 4px;
	// 	right: -10px;
	// 	height: 100%;
	// 	width: 10px;
	// 	transform: skewY(45deg);
	// }

	// &:after {
	// 	bottom: -10px;
	// 	left: 4px;
	// 	width: 100%;
	// 	height: 10px;
	// 	transform: skewX(45deg);
	// }

	&:hover {
		// margin-top: 4px;
		// margin-left: 4px;
		// margin-right: 6px;
		// margin-bottom: 6px;
		filter: drop-shadow(0 0 5px rgba($color_primary, 0.5));
		border-image-width: 8px 8px 7px 14px;

		&:after {
			top: 3px;
			right: 7px;
			bottom: 6px;
			left: 13px;
		}
		

		// &:before {
		// 	top: 3px;
		// 	right: -6px;
		// 	width: 6px;
		// }

		// &:after {
		// 	bottom: -6px;
		// 	left: 3px;
		// 	height: 6px;
		// }
	}

	&:active {
		// margin-top: 8px;
		// margin-left: 8px;
		// margin-right: 2px;
		// margin-bottom: 2px;
		filter: drop-shadow(0 0 10px rgba($color_primary, 1));

		// &:before {
		// 	top: 1px;
		// 	right: -2px;
		// 	width: 2px;
		// }

		// &:after {
		// 	bottom: -2px;
		// 	left: 1px;
		// 	height: 2px;
		// }
	}
}

.fv-button-short {
	min-width: unset;
}

.fv-close-button {
	min-width: unset;
	position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);

	span {
		display: none;
	}

	&:before {
		content: '✕';
	}
}