
@font-face {
    font-family:"Retro Gaming";
    src:url("Retro Gaming.woff2") format("woff2"),url("Retro Gaming.woff") format("woff"),url("Retro Gaming.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        