.main-navigation {
	display: flex;
	justify-content: space-between;
	align-items: stretch;
	width: 100%;

	.nav-menu {

		ul {
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			// :hover > a,
			// .focus > a {
			// }

			// a:hover,
			// a.focus {
			// }
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		float: left;
		position: relative;

		// &:hover > a,
		// &.focus > a {
		// }
	}

	a {
		display: block;
		text-decoration: none;
	}

	// .current_page_item > a,
	// .current-menu-item > a,
	// .current-page-ancestor > a,
	// .current-menu-ancestor > a {
	// }
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: flex;
}

.menu-active {
	.site-header {
		height: 100vh;
	}
}

.main-navigation {
	&.toggled {
		// display: flex;
		// flex-direction: column;

		.menu {
			display: flex;
			flex-direction: column;
			justify-content: center;
			gap: $grid-gap;
			background-color: rgba(0, 0, 0, 0.95);
			position: absolute;
			top: 0;
			left: 0;
			width: 100vw;
			height: 100vh;
			font-size: 32px;

			a {
				color: $off_white;
				padding: 20px;
			}
		}

		.social-links {
			position: absolute;
			bottom: 5vh;
			left: 0;
			width: 100%;
			gap: calc($grid-gap * 2);
			justify-content: center;

			img {
				height: 32px;
			}
		}
	}
}

@include breakpoint($mediumlarge) {
	.menu-toggle {
		display: none;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.hamburger {
	min-width: unset;

	strong {
		display: none;
	}
}